@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
 	display: flex;
	flex-direction: column;
}

article {
	display: grid;
	grid-template-columns: 10% 1fr 10%;
	grid-template-rows: auto;
	grid-template-areas:
		". header ."
		". intro ."
		"figure figure figure"
		". body .";
}

.header{
	grid-area: header;
}

.intro {
	grid-area: intro;
}

figure {
	grid-area: figure;
	margin: 16px 0;
}

.blog-body {
	grid-area: body;
}

.navbar {
	display: flex;
	align-items: center;
	height: 50px;
	padding: 0 20px;
}

.highlight {
	border-left: 3px solid rgb(72, 158, 219);
	padding-left: 10px;
}

.navbar-link {
	text-decoration: none;
	color: white;
}

.icon-set {
	margin-left: auto;
}

.blog-title {
	font-size: 40px;
}

.author {
	display: flex;
	align-items: center;
}

.author-info {
	padding-left: 20px;
}

.profile-image {
	height: 75px;
}

.blue-background {
	background-color: #489edb;
	color: white;
}

.icon {
	margin: 0 10px;
	width: 30px;
	height: 30px;
}

.figure-img {
	width: 100%;
}

.figure-caption {
	text-align: center;
	font-size: 10px;
}

blockquote {
	background-color: #EAEAEA;
	border-left: 3px solid rgb(72, 158, 219);
	padding: 10px 20px;
}

footer{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 40px;
	padding-bottom: 20px;
	grid-area: "footer";
}

.footer-icon-set {
	margin: 0 auto;
}

@media(min-width:600px){
	article{
		grid-template-areas:
			". header ."
			". intro ."
			". figure ."
			". body .";
	}
}

@media(max-width:340px){
	.icon {
		margin: 0 10px;
		width: 20px;
		height: 20px;
	}
}

@media(min-width:850px){
	.header{
		display: flex;
		flex-direction: row;
	}
	
	.author{
		margin-left: auto;
	}
}