@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('min960px.css') screen and (min-width:960px);
@import url('max368px.css') screen and (max-width:368px);
@import url('min800px.css') screen and (min-width:800px);

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
 	display: flex;
	flex-direction: column;
}

header{
	display: flex;
	flex-direction: column;
	align-items: center;
	grid-area: "header;
}

.page-title {
	margin: 15px auto;
}

.page-summary {
	margin-top: 0px;
}

.navbar {
	display: flex;
	justify-content: row;
	align-items: center;
	column-gap: 12px;
	margin: 15px 10px;
	padding: 0 10px;
	grid-area: "navbar";
}

.navbar > a {
	text-decoration: none;
	color: #489edb;
}

.sub-button{
	color: #489edb;
	font-size: 16px;
	border: 2px solid #489edb;
	border-radius: 5px;
	background-color: white;
	padding: 10px;
	margin-left: auto;
	cursor: pointer;
}

.sub-button:hover{
	box-shadow: rgba(72, 158, 219, 0.35) 0px 5px 10px;
}

.bloglist {
	display: flex;
	flex-direction: column;
	align-items: center;
	grid-area: "bloglist";
}

.blog-card {
	text-decoration: none;
	color: #474747;
}

.card-content {
	border: 2px solid #489edb;
	border-radius: 10px;
	margin: 15px auto;
	padding: 0 10px;
	width: 80%;
}

.card-content:hover{
	box-shadow: rgba(72, 158, 219, 0.35) 0px 5px 15px;
	transform: scale(1.01);
}

.card-title{
	text-align: center;
}

.card-image {
	width: 100%;
}

footer{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
	padding-bottom: 20px;
	grid-area: "footer";
}

.footer-icon-set {
	margin: 0 auto;
}

.icon {
	margin: 0 10px;
	width: 30px;
	height: 30px;
}

.blue-background {
	background-color: #489edb;
	color: white;
}

@media(min-width: 800px){

}

